.primary {
    font-size: 24px;
    padding: 23px;
}
#home {
    padding: 3px;
    height: 753px;
}
#navbar ul li a
{
    font-size: 10px;
    padding: 6px;
    margin: 2px;
}
.h-primary{
    font-size: 1.39rem;
}